<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestAll">
	<test name="SigaDoc">
		<classes>		
 			<class name="br.gov.jfrj.siga.integration.test.CriacaoDocumentoIT"/>
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoIT"/>			
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoDigitalIT"/>	 						
		</classes>
	</test>	
</suite>